{% extends 'blog/base.html' %}

{% load static %}

{% block title %}
{% endblock %}

{% block main %}


 <!-- Page Header-->
    <header class="masthead" style="background-image: url('{% static 'blog/assets/img/home-bg.jpg' %}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h3 style="font-family: 'Sahel';">وبلاگ مریم</h3>
                        <span class="subheading"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>




 <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {% for article in articles %}
                    <!-- Post preview-->
                    <div class="post-preview" >
                        <a href="{% url 'blog:detail' article.slug %}">
                            <h2 class="post-title" style="font-family: 'Sahel'; font-size: 28px;">{{ article.title }}</h2>
                            <h3 class="post-subtitle" style="font-family: 'Sahel'; font-size: 16px;">{{ article.description|truncatewords:15}}</h3>
                        </a>
                        <p class="post-meta">
                            نوشته شده توسط 
                            <a href="{% url 'blog:author' article.author %}">{{article.author.get_full_name}}</a>
                            {{ article.jpublish }}
                        </p>

                        <div>
                            {% for cat in article.category_published.all %}
                                <a href="{% url 'blog:category' cat.slug %}">#{{cat.title}}</a>
                            {% endfor %}
                        </div>

                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endfor %}
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4 pager-botton">
                        
                        {% if articles.has_previous %}
                            <a class="btn btn-primary text-uppercase" href="{% url 'blog:home' articles.previous_page_number%}" style="font-family: 'Sahel';">پست های جدید &rarr;</a>
                        {% endif %}
                        
                        {% if articles.has_next %}

                            <a class="btn btn-primary text-uppercase" href="{% url 'blog:home' articles.next_page_number %}" style="font-family: 'Sahel'; margin-right: 2%;">پست های قدیمی &larr;</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>}
{% endblock %}